@{
    ViewData["Title"] = "Edit Machine";
}

@model Machine

<div class="text-center">
    <h3 class="display-4">Edit Machine</h3>        
        <div>@Model.Name</div>
        <div>@Model.Description</div>
        <div>@Model.Company</div>
</div>